body{
    background-color: black;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    height: 100%;

}

h1{
    text-align: center;
    font-size: 45pt;
    color: #00ff00;
    background-color: black;
    
}

.Post{

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}

.LabelBox{
    
    width: 40%;
    border: 3pt solid #00ff00;
    border-radius: 25px;
    text-align: center;
}

p{
    font-size: 15pt;
    color: #00ff00;
    line-height: 21pt;
    text-align: center;
}

a{
     font-size: 15pt;
    color: #00ff00;
    line-height: 21pt;
    text-align: center;
    background-color: black;
}

h2{
    text-align: center;
    font-size: 35pt;
    color: #00ff00;
    background-color: black;

}



