
body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    height: 100%;
    background-color: black;

}


h1{
    text-align: center;
    font-size: 45pt;
    color: #00ff00;
    background-color: black;
   
    
}

.PlaceHolder{
    font-size: 15pt;
    color: #00ff00;
    text-align: center;
}

.CharacterDescription{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}

.Centred{
    width: 50%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}


.CentredBox{
    justify-content: center;
}

.LabelBox{

    
    border: 3pt solid #00ff00;
    border-radius: 25px;
    text-align: center;
}

.AgentLabelBox{

    
    border: 3pt solid #00ff00;
    border-radius: 25px;
    text-align: center;
    padding: 1vw;
    background-color: black;
}

.Description{
   
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
   
}

.Bordered{
    border: 3pt solid #00ff00;
    border-radius: 25px;
}

.AgentPicture{
    width: 25%;
    border: 5pt solid #00ff00;
    border-radius: 15px;
}

.AgentBox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    justify-items: center;
}

.AgentBoxFont{
    font: 3vw;

}


.Progress_Bar{
    height: 30px;
    border-radius: 25px;
    background-color: #00ff00;
    text-align: center;
    color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.Progress_Bar_Background{
    height: 30px;
    border-radius: 25px;
    background-color: grey;
   display: flex;
   flex-direction: column;
   justify-content: center;
   
}

.ProfilePicture{
    width: 75%;
    border: 3pt solid #00ff00;
    border-radius: 25px;
    
}

.parallax {
   
    background-image: url("../Pictures/Coat.png");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25%;
  }

.BoxDescription{
    border: 3pt solid #00ff00;
    border-radius: 25px;
    background-color: black;
    padding: 1vw;
}

h2{
    text-align: center;
    font-size: 35pt;
    color: #00ff00;
    background-color: black;
}

p {
    font-size: 15pt;
    color: #00ff00;
    line-height: 21pt;
    text-align: justify;

}

.Navigation:hover{
    color: hotpink;
}

.Map{
    width: 100%;
    background-color: black;
    padding: 1vw;
    border: 3pt solid #00ff00;
    border-radius: 25px;


}

.Center{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media (min-width: 375px ) and (max-width: 767px){

    .PlaceHolder{
        font-size: 3vw;
        color: #00ff00;
        text-align: center;
    }
    
    h1{
        text-align: center;
        font-size: 5vw;
        color: #00ff00;
        background-color: black;
       
        
    }

    h2{
        text-align: center;
        font-size: 1em;
        color: #00ff00;
        background-color: black;
    }

    p {
        font-size: 3vw;
        color: #00ff00;
        line-height: 4vw;
        text-align: justify;
    
    }
    .Map{
        width: 100%;
        background-color: black;
        padding: 1vw;
        border: 3pt solid #00ff00;
        border-radius: 25px;
    }
    .AgentLabelBox{

    
        border: 3pt solid #00ff00;
        border-radius: 25px;
        text-align: center;
        padding: 1vw;
        background-color: black;
    }
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {

    
    .PlaceHolder{
        font-size: 3vw;
        color: #00ff00;
        text-align: center;
    }
    
    h1{
        text-align: center;
        font-size: 5vw;
        color: #00ff00;
        background-color: black;
       
        
    }

    h2{
        text-align: center;
        font-size: 2em;
        color: #00ff00;
        background-color: black;
    }

    p {
        font-size: 4vw;
        color: #00ff00;
        line-height: 4vw;
        text-align: justify;
    
    }
    .Map{
        width: 125%;
        background-color: black;
        padding: 1vw;
        border: 3pt solid #00ff00;
        border-radius: 25px;
        justify-self: center;
    }

    .Centred{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

}