.parallax {
   
    background-image: url("../Pictures/Coat.png");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25%;
  }

  body{
    height: 100%;
  }

  html{
      height: 100%;
  }