body{
    background-color: black;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

h2{
    text-align: center;
    font-size: 35pt;
    color: #00ff00;
    background-color: black;

}


.Test{
    display: flex;
    margin: auto;
    padding: 20px;
}


p{
    font-size: 15pt;
    color: #00ff00;
    line-height: 21pt;
    text-align: justify;
}
h1{
    text-align: center;
    font-size: 45pt;
    color: #00ff00;
    background-color: black;
}

.Container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.Bordered{
    border: 3pt solid #00ff00;
    border-radius: 25px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    
  
}

.Centred{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.Tweet{
    padding: 1vw;
}


@media (min-width: 375px ) and (max-width: 991px){


    .Tweet{
        width: 75% !important;
    }

    h2{
        text-align: center;
        font-size: 5vw;
        color: #00ff00;
        background-color: black;
    }

    h1{
        text-align: center;
        font-size: 5vw;
        color: #00ff00;
        background-color: black;
       
        
    }
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {

    .Tweet{
        width: 75% !important;
    }

    h2{
        text-align: center;
        font-size: 7vw;
        color: #00ff00;
        background-color: black;
        flex-wrap: nowrap;
    }

    h1{
        text-align: center;
        font-size: 7vw;
        color: #00ff00;
        background-color: black;
       
        
    }
}
