body{
    background-color: black;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    height: 100%;
}

.parallax {
    /* The image used */
    background-image: url("../../Pictures/Coat.png");
  
    /* Full height */
    height: 100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
  }

html{
    height: 100%;
}


h1,h2{
    text-align: center;
    font-size: 35pt;
    color: #00ff00;
}



p{

    color: #00ff00;
    text-align: justify;
}

section{

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.Back_Button{
    text-align: center;
    font-family: sans-serif;
    color: #00ff00;
    border: 1pt solid #00ff00;
    background-color: black;
    font-size: 35pt;
}