body{
    background-color: black;
    font-family: sans-serif;
    height: 100%;
}



html{
    height: 100%;
}


h1,h2{
    text-align: center;
    font-size: 35pt;
    color: #00ff00;
}



p{

    color: #00ff00;
    text-align: justify;
}

section{

    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  
}

.Back_Button{
    text-align: center;
    font-family: sans-serif;
    color: #00ff00;
    border: 1pt solid #00ff00;
    background-color: black;
    font-size: 35pt;
}


@media (min-width: 375px ) and (max-width: 767px){


    p{

        color: #00ff00;
        text-align: justify;
        font-size: 5vw;
    }
}